.videoCard {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.videoCard__info {
  position: absolute;
  bottom: 100px;
  left: 10px;
  color: white;
}

.videoCard__actions {
  position: absolute;
  right: 10px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.videoCard__actions button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
